# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/
.venv

# Datos generados (opcional, si no quieres subir archivos grandes)
results/
*.npy
*.npz
*.bin
# Excepción para los .npy dentro de fpga_io (debe ir DESPUÉS de *.npy)
!data/fpga_io/**/*.npy
!data/golden_inputs/**/*.npy
!data/hls_bins/**/*.bin
# IDE
.vscode/
.idea/

# Archivos temporales
*.log
*.tmp

